*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.form-message {
  width: 100%;
  position: relative;
  margin: 10px 0;
}

.form-message .success, .form-message .error {
  position: absolute;
  top: 38%;
  left: 95%;
  visibility: hidden;
}

.success .success {
  color: #32cd32;
  visibility: visible;
}

.error .error {
  color: #dc143c;
  visibility: visible;
}

.form-message small {
  position: absolute;
  left: 2%;
  top: 95%;
  font-weight: bolder;
  visibility: hidden;
}

.error small {
  color: #dc143c;
  visibility: visible;
}

.form-container .success input {
  border: 2px solid #32cd32;
}

.form-container .error input {
  border: 2px solid #dc143c;
}

header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(55, 114, 255, 0.9)), to(rgba(55, 114, 255, 0.8))) 0 0/cover;
  background: linear-gradient(to right, rgba(55, 114, 255, 0.9), rgba(55, 114, 255, 0.8)) 0 0/cover;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

header ul li {
  list-style: none;
}

header ul a {
  font-weight: bolder;
  color: #fff;
  font-size: 20px;
}

header ul a:hover {
  color: #000;
  text-decoration: none;
}

section {
  position: absolute;
  width: 100%;
  height: 70%;
}

section .container {
  overflow: hidden;
  width: 450px;
  height: 470px;
  position: relative;
  margin: 5% auto;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 0px #000;
          box-shadow: 0 0 5px 0px #000;
  border-radius: 15px;
  padding: 5px;
}

section .container .toggle-div {
  width: 230px;
  margin: 35px auto;
  position: relative;
  -webkit-box-shadow: 0 0 3px 2px #3772ff;
          box-shadow: 0 0 3px 2px #3772ff;
  border-radius: 25px;
}

section .container .toggle-div #btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#32cd32), to(#999));
  background: linear-gradient(to right, #32cd32, #999);
  border-radius: 25px;
  -webkit-transition: .5s;
  transition: .5s;
}

section .container .toggle-div .toggle-btn {
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  font-weight: bolder;
}

section .container .form {
  top: 150px;
  position: absolute;
  width: 250px;
  -webkit-transition: .5s;
  transition: .5s;
}

section .container .form .form-input {
  display: block;
  width: 100%;
  margin: 30px 0;
  border-bottom: 2px solid #3772ff;
  border-left: 0;
  border-right: 0;
  border-top: 2px solid #3772ff;
  font-weight: bolder;
  padding: 10px 20px;
  outline: none;
  border-radius: 15px;
}

section .container .form .sign {
  background-color: #32cd32;
  color: #fff;
  border: 2px solid #32cd32;
  border-radius: 25px;
  margin: auto;
  outline: none;
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 7px 30px;
}

section .container #admin-sign-in {
  left: 100px;
}

section .container #admin-sign-up {
  left: 500px;
}
/*# sourceMappingURL=admin.css.map */